.btLogo {
  position: fixed;
  left: 0%;
  top: 3%;
  background-color: transparent;
  border: none;
  width: 50px;
}

.btLogo:hover {
  background-color: transparent;
  border: none;
}

@media (max-width: 1000px) {
  .imgLogo {
    width: 140px;
  }
}
@media (max-width: 480px) {
  .imgLogo {
    width: 120px;
  }
}
